/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("assets/fonts/LibreFranklin-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("assets/fonts/LibreFranklin-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Libre Franklin";
  src: url("assets/fonts/LibreFranklin-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

:root {
  --clr-primary-blue: hsl(223, 87%, 63%);

  --clr-secondary-blue: hsl(223, 100%, 88%);
  --clr-secondary-red: hsl(354, 100%, 66%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 59%);
  --clr-neutral-300: hsl(209, 33%, 12%);

  --ff-base: "Libre Franklin", sans-serif;
  --fw-light: 300;
  --fw-semibold: 600;
  --fw-bold: 700;
}

main {
  min-height: 85dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-base);
}

.card {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  text-align: center;
}

.card__logo {
  max-width: 4rem;
}

.card__title {
  margin-top: 1rem;
  color: var(--clr-neutral-200);
  font-weight: var(--fw-light);
}

.card__title > strong {
  color: var(--clr-neutral-300);
}

.card__info {
  font-size: 0.875rem;
  color: var(--clr-neutral-300);
  font-weight: var(--fw-light);
  margin-bottom: 1rem;
}

.card__form {
  width: 100%;
  display: grid;
  padding: 0 16px;
  margin-bottom: 1rem;
}

.card__input {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: 1px solid var(--clr-primary-blue);
}

.card__input::placeholder {
  color: var(--clr-secondary-blue);
}

.card__input[aria-invalid="true"] {
  border: 1px solid var(--clr-secondary-red);
}

.card__hint {
  color: var(--clr-secondary-red);
  font-size: 0.75rem;
}

.card__submit {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5rem;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-blue);
  border: none;
  box-shadow: 0px 10px 25px -12px var(--clr-primary-blue);
  cursor: pointer;
  transition: 0.3s;
}

.card__submit:is(:hover, :focus) {
  opacity: 0.7;
  transform: translateY(2px);
  box-shadow: 0px 0px 25px -12px var(--clr-primary-blue);
}

footer {
  font-family: var(--ff-base);
  min-height: 15dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.footer__text {
  color: var(--clr-neutral-200);
  font-size: 0.75rem;
}

.footer__social-media {
  display: flex;
  gap: 1rem;
}

.footer__social-link {
  border-radius: 50%;
  border: 1px solid var(--clr-neutral-200);
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.footer__social-icon {
  width: 1rem;
  filter: brightness(0) saturate(100%) invert(39%) sepia(98%) saturate(498%)
    hue-rotate(188deg) brightness(102%) contrast(92%);
}

.footer__social-link:is(:hover, :focus) {
  background-color: var(--clr-primary-blue);
  border: 1px solid transparent;
}

.footer__social-link:is(:hover, :focus) > .footer__social-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(7491%)
    hue-rotate(296deg) brightness(106%) contrast(101%);
}
